<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <header class="header">
        <div class="header-left">My Portfolio</div>
        <nav class="header-right">
            <a href="/">Home</a>
            <a href="/library">Library</a>
            <a href="/profile">Profile</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
<body>
    <div class="profile-card">
    <div class="profile-text">
        <h2>Joweh Elanga Canindo</h2>
        <p><b>Course and section: </b> Bachelor of Science in Computer Engineering 2-3</p>
        <p><b>Subject:</b> Data, Structure and Algorithms</p>
        <p><b>Motto:</b>
            "Ang buhay dapat eni enjoy mo lang ganon wag pahirapan ang sarili..."
        </p>
        </div>
    <div class="profile-image">
        <img src="{{ url_for('static', filename='images/Joweh1.jpg') }}" style=" width: 200px; height: 250px;" alt="My Picture">
    </div>
    </div>
    <footer class="footer">
        <hr>
        <p>&copy;2025 Joweh Canindo—BSCPE 2-3. All rights reserved.</p>
    </footer>
</body>
</html>
