<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-left">My Portfolio</div>
        <nav class="header-right">
            <a href="/">Home</a>
            <a href="/library">Library</a>
            <a href="/profile">Profile</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class="profile-card">
    <div class="profile-text">
        <h1><Center>Hello, Welcome to my Portfolio</Center></h1>
        <p style="text-align: justify;">Hi! I’m Joweh Canindo. This site showcases my project built with Flask and coding languages like Python, HTML, CSS, and JavaScript. Explore my work by navigating the navigation bar and see my coding journey.</p>
    <center><p>You can access my programming works by clicking the button below.</p>
  <a href="/myworks" class="home-btn">Go to Programming Works</a></center>
    </div>
    </div>
<footer class="footer">
    <hr>
    <p>&copy;2025 Joweh Canindo—BSCPE 2-3. All rights reserved.</p>
</footer>
</body>
</html>


