<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <header class="header">
        <div class="header-left">My Portfolio</div>
        <nav class="header-right">
            <a href="/">Home</a>
            <a href="/library">Library</a>
            <a href="/profile">Profile</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

<body><center>
    <h1 style="font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">PROGRAMMING WORKS</h1>
    <p style="font-size: 15px;">Uppercase strings</p>
    <li><a style= "font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="/works" class="home-btn">ToUpperCase</a></li>
    <p style="font-size: 15px;">Solve area of a circle</p>
    <li><a style= "font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="/circle" class="home-btn">Area of a Circle</a></li>
    <p style="font-size: 15;">Solve area of a triangle</p>
    <li><a style= "font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="/triangle" class="home-btn">Area of Triangle</a></li>
    <br>
    <li><a style= "font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="/">Back</a></li>

</center>
</body>
</html>